.Results {
  display: flex;
}

.Results__items {
  max-width: 40vw;
}

.Results__items-container {
  cursor: pointer;
  margin-right: var(--margin-right);
}

.Results__product {
  max-width: 50vw;
}

.Results__product-close {
  cursor: pointer;
}