.Categories {
  display: flex;
  flex-wrap: wrap;
}

.Categories__category {
  position: relative;
  margin-right: 2rem;
  margin-bottom: var(--margin-bottom);
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.Categories__category a{
  color: var(--secondary-color);
}

.Categories__category-selected {
  z-index: 100;
  position: absolute;
  margin-top: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--darkest-color);
  border-radius: var(--rounded-corner);
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}

.--display {
 width: 40rem;
 padding: 1rem;
}

[class^="Categories__category__button-selected-number"] {
  z-index: 101;
  position: absolute;
  bottom: -1rem;
  left: -1.4rem;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  padding: 0.2rem 0.7rem;
  border-radius: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  -moz-transition:    all 0.15s ease;
  -ms-transition:     all 0.15s ease;
  -o-transition:      all 0.15s ease;
}

.--open {
  bottom: -2rem;
  padding: 0.5rem 1rem 0.7rem 1.2rem;
  border-radius: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  border: 2px solid var(--bg-color);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* TODO: style the list better */
[class^="Categories__category__button-selected-items-"] {
  font-size: 1.6rem;
}

.Categories__selected-items-button {
  position: relative;
  margin-bottom: 1rem;
  margin-left: auto;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  -webkit-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.85);
  box-shadow: 0px 5px 2px -2px rgba(0, 0, 0, 0.85);
  /* TODO: refactor to use primary color with lower opacity as the box shadow */
}

.Categories__selected-items-button:before {
  content: '';
  position: absolute;
  border-radius: var(--rounded-corner);
  bottom: -0.2rem;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkest-color);
  z-index: -1;
}



.--active {
  cursor: default;
  padding: 0 0.6rem;
  color: var(--primary-color) !important;
  border: 0.3rem solid var(--primary-color);
  text-decoration: none;
  border-radius: var(--rounded-corner);
  /* text-transform: uppercase; */
}

.--active-selected {
  background-color: var(--primary-color) !important;
}

.--remove {
  cursor: pointer;
}


