.Categories {
  display: flex;
  flex-wrap: wrap;
}

.Categories__category {
  position: relative;
  margin-right: var(--margin-side);
  margin-bottom: var(--margin-bottom);
  font-size: 2rem;
  font-weight: 700;
}

/* [class^="Categories__category__button-selected-container"] {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
} */

[class^="Categories__category__button-selected-number"] {
  position: absolute;
  right: -2rem;
  bottom: -1rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 0.2rem 0.8rem;
  border-radius: 100%;
  font-size: 1.6rem;
  cursor: pointer;
}

[class^="Categories__category__button-selected-items-"] {

}

.--active {
  cursor: default;
  padding: 0 0.6rem;
  color: var(--primary-color);
  border: 0.3rem solid var(--primary-color);
  text-decoration: none;
  border-radius: var(--rounded-corner);
  /* text-transform: uppercase; */
}
