.Copy-to-clip-board {
  display: flex;
  flex-direction: column;
}

.Copy-to-clip-board-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Copy-to-clip-board svg {
  margin-right: calc(var(--margin-side) * 0.6666);
  width: 2rem;
}

.Copy-to-clip-board-button .secondary {
  fill: var(--secondary-color)
}

.Copy-to-clip-board-button svg.--inverse .secondary {
  fill: var(--secondary-color)
}

.Copy-to-clip-board-confirmation {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  color: var(--lightest-color);
  padding: 1rem 2rem;
  border-radius: var(--rounded-corner);
}