.Notification {
  position: fixed;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 95rem;
  margin: auto;
  z-index: 10000
}

.Notification-container {
  display: inline-block;
}

.Notification-message {
  background-color: var(--primary-color);
  color: var(--lightest-color);
  padding: 1rem 2rem;
  margin-bottom: var(--margin-bottom);
  border-radius: var(--rounded-corner);
  max-width: 70%;
}


.slide-in-out {
  -webkit-animation: slide-in-out 2.45s ease-in-out both;
          animation: slide-in-out 2.45s ease-in-out both;
}

@-webkit-keyframes slide-in-out {
  0% {
    -webkit-transform:scale(0.5) translateY(0);
            transform:scale(0.5) translateY(0);
            opacity: 0;
  }
  10% {
    -webkit-transform:scale(1) translateY(4rem);
            transform:scale(1) translateY(4rem);
            opacity: 1;
  }

  90% {
    -webkit-transform:scale(1) translateY(4rem);
            transform:scale(1) translateY(4rem);
            opacity: 1;
  }
  100% {
    -webkit-transform:scale(0.5) translateY(12rem);
            transform:scale(0.5) translateY(12rem);
            opacity: 0;
  }
}
@keyframes slide-in-out {
  0% {
    -webkit-transform:scale(0.5) translateY(0);
            transform:scale(0.5) translateY(0);
            opacity: 0;
  }
  10% {
    -webkit-transform:scale(1) translateY(4rem);
            transform:scale(1) translateY(4rem);
            opacity: 1;
  }
  100% {
    -webkit-transform:scale(1) translateY(4rem);
            transform:scale(1) translateY(4rem);
            opacity: 1;
  }

  90% {
    -webkit-transform:scale(1) translateY(4rem);
            transform:scale(1) translateY(4rem);
            opacity: 1;
  }
  100% {
    -webkit-transform:scale(0.5) translateY(12rem);
            transform:scale(0.5) translateY(12rem);
            opacity: 0;
  }
}

