.PriceStock {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.PriceStock svg {
  width: 1.8rem;
  padding: 0;
  margin: 0;
}

.PriceStock-stock {
  margin-right: calc(var(--margin-side) / 4);
}

.PriceStock-stock-icon {
  display: flex;
  margin-right: 0.4rem;
}

.PriceStock-stock-message {
  font-weight: 700;
  margin-right: var(--margin-side);
}
