.List-item {
  display: grid;
  grid-template-columns: 25% auto;
  grid-column-gap: var(--margin-side);
  column-gap: var(--margin-side);
  padding: 2rem 1rem 1rem 1rem ;
}

.List-item-left {

}

.List-item-name {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}



.List-item:hover {
  transform: scale(1.03);
}

.List-item-img {
  display: block;
  width: 100%;
}

/* .Results__items-item-name {
  display: inline;
}

.Results__items-item-price-stock {
  
}

.Results__items-item-price-stock * {
  display: inline-block;
}

.Results__items-item-price-stock :not(:last-child) {
  margin-right: 1rem;
}

.Results__items-item-price-stock-price {
  
}

.Results__items-item-price-stock-stock {
  
}

.Results__items-item {
  margin-bottom: var(--margin-bottom);
} */

.--link:hover {
  cursor: pointer;
}