.List-item {
  display: grid;
  grid-template-columns: 25% auto;
  column-gap: var(--margin-side);
  padding: 1rem;
}

.List-item svg {
  margin-left: var(--margin-side);
}

.List-item-left {

}

.List-item-name {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}

.List-item-price-stock {
  display: flex;
  align-items: center;
}

.List-item:hover {
  transform: scale(1.03);
}

.List-item-img {
  display: block;
  width: 100%;
  margin-top: 0.4rem;
}


.icon-trending-up .secondary {
  fill: var(--secondary-color)
}

.icon-trending-down .secondary {
  fill: var(--secondary-color)
}

.--link:hover {
  cursor: pointer;
}