.Product {
  max-width: 65rem;
  background-color: var(--darkest-color);
  border-radius: var(--rounded-corner);
}

.Product__img-name-container {
  position: relative;
}

.Product__img-container {
  overflow: hidden;
  border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
}

.Product__img {
  display: block;
  width: 100%;
}

.Product__name-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Product__name {
  margin: 0 4rem;
  padding: 1rem 1.5rem;
  border-radius: var(--rounded-corner);
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-align: center;  
}

.Product__vendors {
  padding: 3rem 1.5rem;
}

.Product__vendors-name {
  color: var(--highlight-color)
}

@media (max-width: 60rem) {
  h2.Product__name {
    font-size: 1.8rem;
  }
}