.ProductPlaceHolder {
  background-color: var(--darkest-color);
  border-radius: var(--rounded-corner)
}

.ProductPlaceHolder-img-name-container {
  position: relative;
  border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
}

.ProductPlaceHolder__image {
  width: 100%;
  height: 37.5rem;
  background-color: var(--primary-color);
  opacity: 0.15;
  border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
}

.ProductPlaceHolder__title-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProductPlaceHolder__title-container {
  text-align: center;
}

.ProductPlaceHolder__title {
  width: 80%;
  margin: 0 4rem;
  padding: 1rem 1.5rem;
  border-radius: var(--rounded-corner);
  color: var(--bg-color);
  background-color: var(--primary-color);
}


.ProductPlaceHolder__vendors {
  width: 100%;
  height: 15rem;
}

.ProductPlaceHolder__button {
  width: 100%;
  height: 3.5rem;
  background-color: var(--primary-color);
  border-radius: 0 0 var(--rounded-corner) var(--rounded-corner);
}

@media (max-width: 60rem) {
  .ProductPlaceHolder__image {
    width: 28rem;
  }
}