.Results {
  display: flex;
}

.Results__items {
  max-width: 40vw;
}

.Results__items-container {
  margin-right: var(--margin-side);
}

.Results__product {
  background-color: var(--darkest-color);
  padding: 1rem;
  max-width: 50vw;
  height: fit-content;
  max-height: calc(100vh - 4rem);
  overflow: overlay;
  position: sticky;
  top: 2rem;
}

.Results__product-close {
  cursor: pointer;
}

.Results__product-add-select {
  cursor: pointer;
}

@media (max-width: 60rem) {
  .Results__items {
    max-width: 100%;
  }

  .Results__product {
    max-width: 100%;
  }

  .Results__items-container {
    margin-right: 0;
  }
}