.Results {
  display: grid;
  grid-template-columns: 35% auto;
  column-gap: var(--margin-side);
  min-height: 60rem;
}

.Results__items {
  /* border: 0.2rem solid var(--darkest-color); */
}

.Results__items-container {
  border-right: 0.1rem solid var(--darkest-color);
  border-left: 0.1rem solid var(--darkest-color);
}

.Results__items-container:first-child {
  border-top: 0.1rem solid var(--darkest-color);
}

.Results__items-container:last-child {
  border-bottom: 0.1rem solid var(--darkest-color);
}

.Results__items-container:not(:last-child) {
  border-bottom: 0.1rem solid var(--darkest-color);
}

.Results__items-container {
  /* margin-right: var(--margin-side); */
}

.Results__product-container {
  position: relative;
}

.Results__product {
  height: fit-content;
  max-height: calc(100vh - 4rem);
  overflow: overlay;
  position: sticky;
  top: 2rem;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.65); 
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.65);
}

.Results__product-close {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 100;
}

.Results__product-close-container {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  z-index: 100;
}

.Results__product-close-container svg {
  cursor: pointer;
}

.Results__product-add-select {
  position: sticky;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  border-radius: 0 0 var(--rounded-corner) 0;
}

.Results__pagination {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.Results__pagination-prev , .Results__pagination-next {
  
}

.Results__pagination-next:first-child {
  margin-left: auto;
}

.Results__pagination-current-page {
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: var(--rounded-corner);
}

.Results__pagination-current-page:last-child {
  margin-right: calc(50% - 2.5rem);
  transition: none;
}

@media (max-width: 60rem) {
  
  .Results {
    grid-template-columns: auto;
  }

  .Results__items {
    width: 100%;
  }

  .Results__product {
    width: inherit;
    max-height: 100%;
  }

  .Results__items-container {
    margin-right: 0;
  }

  .Results__pagination-prev , .Results__pagination-next {
    width: 49%;
  }
}