.Search{
  margin-bottom: var(--margin-bottom);
}

.Search__form {
  max-width: 80rem;
  margin-bottom: var(--margin-bottom);
}

.Search__form-inner {
  display: flex;
  align-content: stretch;
}

.Search__form__search-button {
  cursor: pointer;
}