.Search{
  background-color: var(--testing-var);
  margin-bottom: var(--margin-bottom);
}

.Search input {
  margin-bottom: var(--margin-bottom);
}

.Search .TerminalInput__carot {
  bottom: 2.6rem;
}