[class^="Selected-items__item-"] {
  display: flex;
}

.Selected-items__remove {
  width: 2rem;
  height: 2rem;
  padding: 0 0 0.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}