.TerminalInput {
  position: relative;
}

.TerminalInput__inputEl {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  caret-color: transparent;
  font: 700 2.4rem 'IBM Plex Mono', monospace;
}

.TerminalInput__inputEl:focus {
  outline: none ;
  background-color: var(--darkest-color);
}

.TerminalInput__inputEl::placeholder {
  font-size: 1.4rem;
}

.TerminalInput__carot {
  position: absolute;
  left: 2rem;
  bottom: 0.6rem;
  background-color: var(--primary-color);
  border-radius: 0.4rem;
  width: 1.8rem;
  height: 0.4rem;
  animation: pulse 1.3s infinite;
  -webkit-transition: all 0.15s ease;
  -moz-transition:    all 0.15s ease;
  -ms-transition:     all 0.15s ease;
  -o-transition:      all 0.15s ease;
}

/* .--waiting-focus {
  animation: pulse 1.3s infinite;
} */

.--stop-animation {
  animation: none;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.TerminalInput__carot.--inactive {
  visibility: hidden;
}


