.App {
  max-width: 125rem;
  margin: auto;
  padding-left: var(--margin-side);
}

.App-categories {
  margin-bottom: var(--margin-bottom);
}

.App-categories-button:not(:last-child) {
  margin-right: var(--margin-side);
}

.App__header {
  color: var(--primary-color);
}

[class*="App-categories__"] {
  display: inline-block;
  padding-right: 2rem;
}





/*** TESTING MEDIA QUERY 
****

@media (max-width: 30rem) {
  .App-categories {
    margin-bottom: 300px;
  }
} 

****/