@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;0,600;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

:root {
  --darkest-color: #2a303a;
  --lightest-color: white;
  --bg-color: #333a45;
  --primary-text-color: #939eae;
  --primary-color: #f44c7f;
  --secondary-color:#e11251;
  --highlight-color: #fa8cad;
  --second-highlight-color: #a44562;

  --margin-side: 1.5rem;
  --margin-bottom: 2rem;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

body *:focus {
  outline: 1px dotted var(--primary-color) ;
}

body *{
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -ms-transition:     all 0.3s ease;
  -o-transition:      all 0.3s ease;
}

body a {
  color: var(--highlight-color);
}

body button {
  color: var(--lightest-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'IBM Plex Mono', monospace;
  color: var(--primary-color);
}
